footer.footer 
  .container 
    .footer-top 
      .footer-column 
        a(href="index.html").footer-heading.footer-heading--logo MoGo
        p.footer-desc.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea nihil deleniti adipisci a dolorem aliquam aut architecto? Omnis magnam ratione, hic quia, rerum molestias tenetur architecto recusandae delectus ducimus voluptatum.
        p.footer-follower <strong>15k</strong> フォロワー
        .footer-social 
          span.text SNS :
          .footer-social-list
          a.footer-social-item(href="#")
            i.fab.fa-facebook
          a.footer-social-item(href="#")
            i.fab.fa-twitter
          a.footer-social-item(href="#")
            i.fab.fa-instagram
          a.footer-social-item(href="#")
            i.fab.fa-pinterest
          a.footer-social-item(href="#")
            i.fab.fa-google
          a.footer-social-item(href="#")
            i.fab.fa-youtube
          a.footer-social-item(href="#")
            i.fab.fa-dribbble
          a.footer-social-item(href="#")
            i.fab.fa-tumblr
        form.footer-form
          input(type="email" placeholder="あなたのメールー").footer-form-input
          button.footer-form-button 登録
      .footer-column
        h3.footer-heading ブログ
 
        a(href="#").footer-blog 
          img(src="./images/img-blogs1.png", alt="").footer-blog-image
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur.
            span.footer-blog-date.text.text--light 2016年 9月 1日
        a(href="#").footer-blog 
          img(src="./images/img-blogs2.png", alt="").footer-blog-image
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur.
            span.footer-blog-date.text.text--light 2016年 9月 1日
        a(href="#").footer-blog 
          img(src="./images/img-blogs3.png", alt="").footer-blog-image
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur.
            span.footer-blog-date.text.text--light 2016年 9月 1日
      .footer-column 
        h3.footer-heading インスタグラム 
        .footer-images 
          .footer-image
            img(src="/images/img-instagram1.png", alt="")
          .footer-image
            img(src="/images/ins2.png", alt="")
          .footer-image
            img(src="/images/ins3.png", alt="")
          .footer-image
            img(src="/images/ins4.png", alt="")
          .footer-image
            img(src="/images/ins5.png", alt="")
          .footer-image
            img(src="/images/ins6.png", alt="")
          .footer-image
            img(src="/images/ins7.png", alt="")
          .footer-image
            img(src="/images/ins8.png", alt="")
          .footer-image
            img(src="/images/ins9.png", alt="")
        a(href="#").footer-images-more.text.text--light 写真をもっと見る
    .footer-bottom &copy; 2016 MoGo 無料PSDテンプレート by <span>Laaqiq</span>