section.people 
  .container
    +blockBox("幸せなクライアント","人々が言うこと")
    ul.people-list 
      +peopleItem("../images/img-people1.png")
      +peopleItem("../images/img-people2.png","Nick Karvounis")
      +peopleItem("../images/img-people3.png","jaelynn castillo")
      +peopleItem("../images/img-people4.png","mike petrucci")