section.quote   
  .container 
    .quote-container 
      i.fal.fa-angle-left.quote-arrow-left.quote-arrow
      .quote-content
        .quote-icon
          img(src="../images/img-quote.png", alt="")
        .quote-info
          p.quote-desc " Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit "
          span.quote-author Jon Doe
      i.fal.fa-angle-right.quote-arrow-right.quote-arrow