section.service
  .container
    +blockBox("私たちは","素晴らしいサービス")
    .service-container
      .service-list
        +serviceItem("/images/img-service-icon1.png","写真撮影","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("/images/img-service-icon2.png","ウェブデザイン","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("/images/img-service-icon3.png","創造性","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
      .service-list
        +serviceItem("/images/img-service-icon4.png","SEO","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("/images/img-service-icon5.png","Css/Html","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        +serviceItem("/images/img-service-icon6.png","デジタル","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")