section.team
  .container 
    +blockBox("Who we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .team-list 
      .team-item 
        .team-main 
          img(src="../images/img-team1.png", alt="").team-image
          .team-content 
            ul.team-social 
              +socialItem("fab fa-facebook-f")
              +socialItem("fab fa-twitter")
              +socialItem("fab fa-pinterest")
              +socialItem("fab fa-instagram")
        .team-info
          h3.team-name Matthew Dix
          span.team-position UX - Design
      .team-item 
        .team-main 
          img(src="../images/img-team2.png", alt="").team-image
          .team-content 
            ul.team-social 
              +socialItem("fab fa-facebook-f")
              +socialItem("fab fa-twitter")
              +socialItem("fab fa-pinterest")
              +socialItem("fab fa-instagram")
        .team-info
          h3.team-name Matthew Dix
          span.team-position UX - Design
      .team-item 
        .team-main 
          img(src="../images/img-team3.png", alt="").team-image
          .team-content 
            ul.team-social 
              +socialItem("fab fa-facebook-f")
              +socialItem("fab fa-twitter")
              +socialItem("fab fa-pinterest")
              +socialItem("fab fa-instagram")
        .team-info
          h3.team-name Matthew Dix
          span.team-position UX - Design