section.team
  .container 
    +blockBox("私たちは誰ですか","私たちのチームに会おう","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .team-list 
      +teamItem("../images/img-team1.png","Matthew Dix","UX - デザイン")
        +teamSocial("#dix")
      +teamItem("../images/img-team2.png","Matthew Dix","UX - デザイン")
        +teamSocial("#dix2")
      +teamItem("../images/img-team3.png","Matthew Dix","UX - デザイン")
        +teamSocial("#dix3")
section.brand 
  .container 
    img(src="../images/img-logos.png", alt="brands")