section.quote   
  .container 
    .quote-container 
      +quoteItem("../images/img-quote-avatar.png","true")
      +quoteItem("../images/img-people2.png","true","Matthew Dix")
      +quoteItem("../images/img-people4.png","true","Michael Fertig")
      