.quote {
  padding: 6.5rem 0;
  @include bg($gray-color);
  // &-container {
  //  @include flexbox(center, space-between);
  // }
  &-arrow {
    color: $gray-dark-color;
    cursor: pointer;
    font-size: 4rem;
    padding: 1rem 2rem;
  }
  &-item {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    @include flexbox(center);
    outline: none;
  }
  &-icon {
    @include size(15rem);
    @include flexbox(center, center);
    border: 3px solid $third-color;
    flex-shrink: 0;
    margin-right: 6rem;
  }
  &-image {
    @include size(22rem);
    object-fit: cover;
    border-radius: 100rem;
    flex-shrink: 0;
    margin-right: 2.5rem;
  }
  &-info {
    // padding-left: 6rem;
  }
  &-desc {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: $secondary-font;
    font-style: italic;
    color: $text-color;
    margin-bottom: 2.5rem;
    @include textClamp(3);
  }
  &-author {
    font-family: $third-font;
    font-size: 2.4rem;
    position: relative;
    padding-left: 7rem;
    &::before {
      content: "";
      @include absoluteCenter("top");
      @include size(6rem, 4px);
      @include bg($primary-color);
      left: 0;
    }
  }
  //slick slider
  .slick-initialized .slick-slide {
    display: flex;
  }
  .slick-arrow {
    border: 0;
    background-color: transparent;
    color: $gray-dark-color;
    cursor: pointer;
    font-size: 4rem;
    padding: 1rem 2rem;
    @include absoluteCenter("top");
  }
  .slick-prev {
    left: 0;
    z-index: 5;
  }
  .slick-next {
    right: 0;
    z-index: 5;
  }
  @include maxWidth(767px) {
    &-arrow {
      display: none;
    }
    &-item {
      padding: 0;
      flex-direction: column;
    }
    &-icon {
      @include size(10rem);
      margin-right: 0;
      img {
        max-width: 40%;
      }
    }
    &-info {
      // padding-left: 0;
      margin-top: 3rem;
    }
    &-desc {
      display: block;
      font-size: 1.6rem;
    }
    &-author {
      font-size: 2rem;
      display: block;
      text-align: center;
      padding: 0;
      z-index: 3;
      &::before {
        width: 100%;
        height: 1px;
        @include bg($primary-color);
        z-index: -2;
      }
      &::after {
        content: "";
        @include absoluteCenter();
        @include size(30%, 100%);
        @include bg($gray-color);
        z-index: -1;
      }
    }
  }
}
